.coustom-items{
    color: aqua;
    font-size: 25px;
    margin-right: 20px;
  
  }
  .bgimg-1{
  background-image: url("/images/Bg_1.jpg");
  max-height: 500px;
  }
  .bgimg-1{
  position: relative;
  background-attachment: fill;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  }
  .navbar-toggler {
    color: rgba(255, 255, 255, 0.205);
    border-color: rgba(255, 255, 255, 0.829);
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  .btn-coustom {
    color: #000;
    background-color:aqua;
    border-color: #002956;
  }
  .btn-coustom:hover {
    color: #ffffff;
    background-color: #000000;
    border-color: #000000;
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;700&display=swap');


section{
    position: relative;
    z-index: 3;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container{
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.section-header{
    margin-bottom: 50px;
    text-align: center;
}

.section-header h2{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 20px;
}

.section-header p{
    color: rgb(125, 117, 117);
}

.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contact-info{
    width: 50%;
}

.contact-info-item{
    display: flex;
    margin-bottom: 30px;
}

.contact-info-icon{
    height: 100px;
    width: 100px;
   text-align: center;

}


.contact-info-content{
    margin-left: 20px;
}

.contact-info-content h4{
    color: rgb(31, 167, 213);
    font-size: 1.4em;
    margin-bottom: 5px;
}

.contact-info-content p{
    color: #fff;
    font-size: 1em;
}

.contact-form{
    background-color: #fff;
    padding: 40px;
    width: 45%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.contact-form h2{
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

.contact-form .input-box{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contact-form .input-box span{
    position: relative;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contact-form .input-box input:focus~ span,
.contact-form .input-box textarea:focus ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translate(-20px);
}

.contact-form .input-box input
[type="submit"] {
    width: 100%;
    background: #00bc44;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    border: none;
    font-size: 18px;
    border: 1px solid #00bc44;
    transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover {
    background: #fff;
    color : #00bcd4;
}

@media (max-width: 991px){
    section {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .row{
        flex-direction: column;
    }

    .contact-info{
        margin-bottom: 40px;
        width: 100%;
}

.contact-form{
    width: 100%;
}
}
.Footer_Background{
  color: #ffffff;
  background-image: url("/images/Footer002.jpg")
  
}

.social-icons{
  width: 50px;
  height: 50px;
  border-radius: 10%;
  float: left;
  line-height: 20px;
  font-size: 10px;
  color: #000;
  background: white;
  margin-right: 25px;
  cursor: pointer;
}
.sub{
  display: flex;
  height: 50px;
}
.sub2{
  height: 50px;
}
