
.bgimg-1{
  background-image: url("/images/Background\ Gradient.png");
  max-height: 500px;
}
.bgimg-1{
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar-toggler {
    color: rgba(255, 255, 255, 0.205);
    border-color: rgba(255, 255, 255, 0.829);
  }

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
.coustom-items{
    color: aqua;
    font-size: 25px;
    margin-right: 20px;
}

.Footer_Background{
  color: #ffffff;
  background-image: url("/images/Footer002.jpg")
  
}

.social-icons{
  width: 50px;
  height: 50px;
  border-radius: 10%;
  float: left;
  line-height: 20px;
  font-size: 10px;
  color: #000;
  background: white;
  margin-right: 25px;
  cursor: pointer;
}
.sub{
  display: flex;
  height: 50px;
}
.sub2{
  height: 50px;
}
/*menu*/

.box_txt{
  color: black;
  font-size: 25px;
  text-align: center;
}
.table_txt{
  color: black;
  font-size: 30px;
  text-align: center;
  font-style: bold;
}


.table_action_shipping{
  butt
  color: white;
  border-radius: 30%;
  background-color: blue;
  font-size: 18px;
  border: red;
  text-align: center;
  
  }
