/* BG image */

.bgimg-1{
  background-image: url("/images/Bg_1.jpg");
  max-height: 500px;
}
.bgimg-1{
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Navbar */
.navbar-toggler {
    color: rgba(255, 255, 255, 0.205);
    border-color: rgba(255, 255, 255, 0.829);
  }

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
.coustom-items{
    color: aqua;
    font-size: 25px;
    margin-right: 20px;
}
.btn-coustom {
    color: #000;
    background-color:aqua;
    border-color: #002956;
  }
.btn-coustom:hover {
    color: #ffffff;
    background-color: #000000;
    border-color: #000000;
  }
  /* Carousel */
.carousel-inner {
    padding: 1em;
}
/* Trending prod. Cards */
.Trd-title{
  text-align: center;
  font-size: 90px;
  color: white;
}
.card-text-coustom{
  color: rgb(2, 17, 147);
}
.card-subtitle-coustom{
  color: #002956;
  font-style: bold;
}
.card-title-coustom{
  color: black;
  font-style: bold;
}
.coustom-card{
  height: 30rem;
}
.card-cs{
  margin-left: 10%;
}
.row-cs{
padding: 110px;
}
/* latest event carousel*/
.Lt-title{
  text-align: center;
  font-size: 70px;
  color: white;
}

.coustom-card:hover{
  background: linear-gradient(to bottom, #ffffff 70%,#0fabff 125%);
  border-color: #000756;
}
/* Footer */
.link-cs{
  padding-top: 55px !important;
}
.Footer_Background{
  color: #ffffff;
  background-image: url("/images/Footer002.jpg");
}
.col{
  margin: 0;
  padding: 0;
}
.social-icons{
  width: 50px;
  height: 50px;
  border-radius: 10%;
  float: left;
  line-height: 20px;
  font-size: 10px;
  color: #000;
  background: white;
  margin-right: 25px;
  cursor: pointer;
}
.sub{
  display: flex;
  height: 30px;
}
.sub2{
  height: 30px;
}